<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Figbloom Digital Group</title>

<meta
    name="description"
    content="Figbloom Digital Group is a modern software and internet company building reliable digital solutions, web platforms, and software that help businesses innovate, connect, and grow."
/>

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Home | Figbloom Digital Group" />

<meta
    property="og:description"
    content="Figbloom Digital Group builds software, web platforms, and digital solutions that help businesses work smarter, connect better, and grow faster."
/>

<meta property="og:site_name" content="Figbloom Digital Group" />

<meta
    property="og:url"
    content="https://figbloom-digital-group.vercel.app/"
/>



<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@figbloom" />

<meta
    name="twitter:title"
    content=" Figbloom Digital Group"
/>


<meta name="robots" content="index, follow" />

<link
    rel="canonical"
    href="https://figbloom-digital-group.vercel.app/"
/>

<link
    rel="icon"
    type="image/png"
    href="/assets/images/figbloom_logo.png"
/>